<h1>Novo Livro</h1>
<form action="/create" method="POST">
    <div class="form-control">
        <label for="title">Título do livro:</label>
        <input type="text" name="title" placeholder="Informe o título do livro">
    </div>
    <div class="form-control">
        <label for="price">Preço unitário:</label>
        <input type="number" name="price" placeholder="informe o preço">
    </div>    
    <input type="submit" class="btn" value="Gravar">
</form>